.taskbar{
    position:absolute;
    bottom:0;
    left:0;
    right: 0;
    height:70px; 
    background-color: rgba(0, 200, 224, 0.4);;
    border-radius: 0 0 0 0;
}
.taskbar:hover{
    background-color: rgba(0, 224, 200, 0.6);
}



@media screen and (min-width:900px){

    .small-taskbar{
        left:25px;
        right: 25px;
        border-radius: 10px 10px 0 0;
    }
}

@media screen and (min-width:1400px){
    
    .medium-taskbar{
        left:50px;
        right: 50px;
        border-radius: 10px 10px 0 0;
    }
}

.item-taskbar{
    position:relative;
    display: inline-block;
    margin:0 5;
    top:0;
    height:100%;
    width:100px;
    cursor: pointer;
    /* font-size: 24px; */
    color: #fff;
}


.logo{
    border-radius: 10px 10px 0 0;
    background: url("https://fs-prod-cdn.nintendo-europe.com/media/images/10_share_images/games_15/nintendo_switch_4/H2x1_NSwitch_NewSuperMarioBrosUDeluxe_image1600w.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;   
}

.logo>.appname{
    display: none;
    position:absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
}

.logo:hover>.appname{
    display: block;
}

.logo:hover{
 top:-15;
}