.window{
    position:absolute;
    overflow: hidden;
    top: 25%;
    bottom:25%;
    left:25%;
    right:25%;
    background-color: aliceblue;
    resize: both;
    border-radius: 10px 10px 0 0;
}

.window > .header{
    position:relative;
    top:0;left:0;
    margin: 0;
    padding: 0;
    background-color: rgba(72, 71, 66, 0.911);
}
.window > .header > .btns-container{
    display: inline-block;
    margin:8px;
}

.window > .header .round-btn {
    display: inline-block;
    margin:1px;
    height: 26px;
    width: 26px;
    border-radius: 50%;
    cursor: pointer;
}
.window > .header .round-btn:hover {
    margin:0px;
    height: 28px;
    width: 28px;
}

.window > .header .close-btn{
    background: url("../img/close_icon.ico");
    background-size: contain;
}
.window > .header .hide-btn{
    background: no-repeat  center/80% url("../img/minimaze_button.PNG");
    background-size: contain;
}
.window > .header .resize-btn{
    background: no-repeat  center/80% url("../img/resize_button.PNG");
    background-size: cover;
}
